In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2      se
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [7]:
df.shape

(150, 5)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [11]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [14]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [15]:
df.describe().loc['max', 'sepal_width']

4.4

In [17]:
df = df.dropna()
df.shape

(150, 5)

In [19]:
y = df['sepal_width']
y

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
5      3.9
6      3.4
7      3.4
8      2.9
9      3.1
10     3.7
11     3.4
12     3.0
13     3.0
14     4.0
15     4.4
16     3.9
17     3.5
18     3.8
19     3.8
20     3.4
21     3.7
22     3.6
23     3.3
24     3.4
25     3.0
26     3.4
27     3.5
28     3.4
29     3.2
      ...
120    3.2
121    2.8
122    2.8
123    2.7
124    3.3
125    3.2
126    2.8
127    3.0
128    2.8
129    3.0
130    2.8
131    3.8
132    2.8
133    2.8
134    2.6
135    3.0
136    3.4
137    3.1
138    3.0
139    3.1
140    3.1
141    3.1
142    2.7
143    3.2
144    3.3
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64

In [21]:
features = ['sepal_width', 'petal_width']
X = df[features]
X

     sepal_width  petal_width
0            3.5          0.2
1            3.0          0.2
2            3.2          0.2
3            3.1          0.2
4            3.6          0.2
5            3.9          0.4
6            3.4          0.3
7            3.4          0.2
8            2.9          0.2
9            3.1          0.1
10           3.7          0.2
11           3.4          0.2
12           3.0          0.1
13           3.0          0.1
14           4.0          0.2
15           4.4          0.4
16           3.9          0.4
17           3.5          0.3
18           3.8          0.3
19           3.8          0.3
20           3.4          0.2
21           3.7          0.4
22           3.6          0.2
23           3.3          0.5
24           3.4          0.2
25           3.0          0.2
26           3.4          0.4
27           3.5          0.2
28           3.4          0.2
29           3.2          0.2
..           ...          ...
120          3.2          2.3
121          2.8          2.0
122          2.8          2.0
123          2.7          1.8
124          3.3          2.1
125          3.2          1.8
126          2.8          1.8
127          3.0          1.8
128          2.8          2.1
129          3.0          1.6
130          2.8          1.9
131          3.8          2.0
132          2.8          2.2
133          2.8          1.5
134          2.6          1.4
135          3.0          2.3
136          3.4          2.4
137          3.1          1.8
138          3.0          1.8
139          3.1          2.1
140          3.1          2.4
141          3.1          2.3
142          2.7          1.9
143          3.2          2.3
144          3.3          2.5
145          3.0          2.3
146          2.5          1.9
147          3.0          2.0
148          3.4          2.3
149          3.0          1.8

[150 rows x 2 columns]

In [22]:
X.describe()

       sepal_width  petal_width
count   150.000000   150.000000
mean      3.054000     1.198667
std       0.433594     0.763161
min       2.000000     0.100000
25%       2.800000     0.300000
50%       3.000000     1.300000
75%       3.300000     1.800000
max       4.400000     2.500000

In [23]:
from sklearn.tree import DecisionTreeRegressor

In [24]:
housing_model = DecisionTreeRegressor(random_state=1)

In [25]:
housing_model.fit (X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [26]:
housing_model.predict(X.head())

array([3.5, 3. , 3.2, 3.1, 3.6])

In [27]:
y.head()

0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
Name: sepal_width, dtype: float64

In [28]:
from sklearn.metrics import mean_absolute_error

In [29]:
# menghitung model performa
# gunakan model untuk prediksi

y_hat = housing_model.predict(X)
mean_absolute_error(y,y_hat)

2.4276876805136755e-16

In [30]:
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

In [35]:
housing_model = DecisionTreeRegressor(random_state=1)
housing_model.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [36]:
y_hat = housing_model.predict(X_test)
mean_absolute_error(y_test, y_hat)

0.010526315789473939

In [37]:
def get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test):
    model= DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(X_train, y_train)
    y_hat = model.predict(X_test)
    mae = mean_absolute_error(y_test, y_hat)
    return mae

In [38]:
for max_leaf_nodes in [5, 10, 15, 20]:
    leaf_mae = get_mae (max_leaf_nodes, X_train, X_test, y_train, y_test)
    print (f'Max leaf nodes: {max_leaf_nodes}\t Mean Absolute Error:{int(leaf_mae)}')

Max leaf nodes: 5	 Mean Absolute Error:0
Max leaf nodes: 10	 Mean Absolute Error:0
Max leaf nodes: 15	 Mean Absolute Error:0
Max leaf nodes: 20	 Mean Absolute Error:0

In [39]:
from sklearn.ensemble import RandomForestRegressor

In [40]:
rf_model = RandomForestRegressor(n_estimators=100, random_state=1)
rf_model.fit(X_train, y_train)
y_hat = rf_model.predict(X_test)
print (f'Mean Absolute Error : {int(mean_absolute_error(y_test, y_hat))}')

Mean Absolute Error : 0